glove.42B.300d.txt
glove.42B.300d.zip
*.3gpp
*.mp4
mini-model/vosk-model-small-en-us-0.15.zip
mini-model/vosk-model-small-en-us-0.15/am/final.mdl
mini-model/vosk-model-small-en-us-0.15/conf/mfcc.conf
mini-model/vosk-model-small-en-us-0.15/conf/model.conf
mini-model/vosk-model-small-en-us-0.15/graph/disambig_tid.int
mini-model/vosk-model-small-en-us-0.15/ivector/final.dubm
mini-model/vosk-model-small-en-us-0.15/graph/phones/word_boundary.int
mini-model/vosk-model-small-en-us-0.15/graph/HCLr.fst
mini-model/vosk-model-small-en-us-0.15/graph/Gr.fst
mini-model/vosk-model-small-en-us-0.15/ivector/final.ie
mini-model/vosk-model-small-en-us-0.15/README
mini-model/vosk-model-small-en-us-0.15/ivector/splice.conf
mini-model/vosk-model-small-en-us-0.15/ivector/online_cmvn.conf
mini-model/vosk-model-small-en-us-0.15/ivector/global_cmvn.stats
mini-model/vosk-model-small-en-us-0.15/ivector/final.mat
mini-model/__pycache__/helpers.cpython-310.pyc
