glove.42B.300d.txt
glove.42B.300d.zip
*.3gpp
*.mp4
mini-model/vosk-model-small-en-us-0.15.zip
mini-model/vosk-model-small-en-us-0.15/am/final.mdl
mini-model/vosk-model-small-en-us-0.15/conf/mfcc.conf
mini-model/vosk-model-small-en-us-0.15/conf/model.conf
mini-model/vosk-model-small-en-us-0.15/graph/disambig_tid.int
mini-model/vosk-model-small-en-us-0.15/ivector/final.dubm
mini-model/vosk-model-small-en-us-0.15/graph/phones/word_boundary.int
mini-model/vosk-model-small-en-us-0.15/graph/HCLr.fst
mini-model/vosk-model-small-en-us-0.15/graph/Gr.fst
mini-model/vosk-model-small-en-us-0.15/ivector/final.ie
mini-model/vosk-model-small-en-us-0.15/README
mini-model/vosk-model-small-en-us-0.15/ivector/splice.conf
mini-model/vosk-model-small-en-us-0.15/ivector/online_cmvn.conf
mini-model/vosk-model-small-en-us-0.15/ivector/global_cmvn.stats
mini-model/vosk-model-small-en-us-0.15/ivector/final.mat
mini-model/__pycache__/helpers.cpython-310.pyc
*.jpg
*.wav
mini-model/vosk-model-en-us-0.22/rnnlm/word_feats.txt
mini-model/vosk-model-en-us-0.22/rnnlm/special_symbol_opts.txt
mini-model/vosk-model-en-us-0.22/rnnlm/special_symbol_opts.conf
mini-model/vosk-model-en-us-0.22/rnnlm/final.raw
mini-model/vosk-model-en-us-0.22/rnnlm/feat_embedding.final.mat
mini-model/vosk-model-en-us-0.22/rescore/G.fst
mini-model/vosk-model-en-us-0.22/rescore/G.carpa
mini-model/vosk-model-en-us-0.22/README
mini-model/vosk-model-en-us-0.22/ivector/splice.conf
mini-model/vosk-model-en-us-0.22/ivector/online_cmvn.conf
mini-model/vosk-model-en-us-0.22/ivector/global_cmvn.stats
mini-model/vosk-model-en-us-0.22/ivector/final.mat
mini-model/vosk-model-en-us-0.22/ivector/final.ie
mini-model/vosk-model-en-us-0.22/ivector/final.dubm
mini-model/vosk-model-en-us-0.22/graph/words.txt
mini-model/vosk-model-en-us-0.22/graph/phones/word_boundary.txt
mini-model/vosk-model-en-us-0.22/graph/phones/word_boundary.int
mini-model/vosk-model-en-us-0.22/graph/phones/silence.csl
mini-model/vosk-model-en-us-0.22/graph/phones/optional_silence.txt
mini-model/vosk-model-en-us-0.22/graph/phones/optional_silence.int
mini-model/vosk-model-en-us-0.22/graph/phones/optional_silence.csl
mini-model/vosk-model-en-us-0.22/graph/phones/disambig.txt
mini-model/vosk-model-en-us-0.22/graph/phones/disambig.int
mini-model/vosk-model-en-us-0.22/graph/phones/align_lexicon.txt
mini-model/vosk-model-en-us-0.22/graph/phones/align_lexicon.int
mini-model/vosk-model-en-us-0.22/graph/phones.txt
mini-model/vosk-model-en-us-0.22/graph/num_pdfs
mini-model/vosk-model-en-us-0.22/graph/HCLG.fst
mini-model/vosk-model-en-us-0.22/graph/disambig_tid.int
mini-model/vosk-model-en-us-0.22/conf/model.conf
mini-model/vosk-model-en-us-0.22/conf/mfcc.conf
mini-model/vosk-model-en-us-0.22/conf/ivector.conf
mini-model/vosk-model-en-us-0.22/am/tree
mini-model/vosk-model-en-us-0.22/am/final.mdl
mini-model/vosk-model-en-us-0.22.zip
